.equipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
}

.cadre:hover{
    background-color: rgb(179, 101, 143);
    transition: background-color 0.5s;
}

.cadre{
    border-style: solid;
    text-align: center;
    border-radius: 3em;
    border-width: 1em;
    border-color: white;
    background-color: rgba(182, 110, 149);
}

.seriepref>h2{
    height: 3.5em;
}

.equipe>div>img{
    width: 20em;
    height: 20em;
    border-radius: 3em;
}
.equipe h2{
    text-align: center;
}
     
.progressbar {
    text-align: center;
    margin: 5px;
    margin-left: 12.5px;
    background: white;
    border-radius: 13px;
    height: 1em;
    width: 20em;
    padding: 3px;

}
.progressbar:after {
    content: '';
    display: block;
    background: rgba(255,168,227,1);
    height: 100%;
    border-radius: 9px;
}

#robin:after {
    width:100%;
}

#quentin:after {
    width:100%;
}

#thomas:after {
    width:60%;
}

.seriepref{
    margin: 5px;
    border-radius: 10px;
}

.seriepref:hover{
    transition: 1s;
    background-color: rgba(0, 0, 0,0.5);
    cursor: pointer;
    transform: translate(0px,5%) rotate(1080deg) scale(1.1) ;
}