@font-face {
	font-family: GravitasOne;
	src: url("./fonts/Cute-Maple.ttf");
	font-weight: normal;
}
@font-face {
	font-family: OpenSansCondensed;
	src: url("./fonts/Cute-Notes.ttf");
	font-weight: lighter;
}
@font-face {
	font-family: OpenSansCondensed;
	src: url("./fonts/Cute-Notes.ttf");
	font-weight: bold;
}

* {
	box-sizing: border-box;
}
html{
	background-image: linear-gradient(0deg, #ffa8e3, #fc7bd3, #ff6acf );
}
html,
body {
	margin: 0;
	/* height: 100%; */
	padding: 0;
}
body {
	min-height: 100vh;
	color: black;
	font-size: 14px;
	font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}
.pageContainer,
body > footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 40px;
}
.pageContainer {
	color: #fff;
	background-image: url('../images/fond.png');
	background-size: 110%;
	background-position: center -20px;
	background-repeat: repeat-y;
	padding-bottom: 90px;
	flex-grow: 1;
}
.pageTitle {
	min-height: 50px;
}
.pageTitle, .pageContent, body > footer > div {
	width: 100%;
	max-width: 1200px;
}
.pageTitle h1 {
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 40px;
	font-family: OpenSansCondensed;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}
.pageTitle h1:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: currentColor;
	width: 80px;
}
.pageContent {
	font-size: 16px;
}
a {
	color: #e2952d;
}
a:hover {
	color: #edad4a;
}
.is-loading {
	position:relative;
	min-height: 200px;
	background-color: #131618;
}
.is-loading * {
	display: none !important;
}
.is-loading:before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1;
}
.is-loading:after {
	content: '	';
	position: absolute;
	top:50%;
	left:50%;
	width: 50px;
	height: 50px;
	border: 1px #fff solid;
	border-top-color: #fff2;
	z-index: 2;
	border-radius: 50%;
	animation: rotate .5s linear infinite;
	transform-origin: center;
}
.tri{
	text-align: center;
}
.tri>button{
	border-radius:5px;
	border-color: rgb(211, 96, 173);
}
.spoilButton{
	border-style: solid;
	border-radius:5px;
	border-color: rgb(211, 96, 173);
}

button:hover{
	background-color: #CCC;
}
.tri>select{
	border-radius:5px;
	border-color: rgb(211, 96, 173);
}


.searchBar{
	text-align: center;
}
.searchBar>input[type=text]{
	border-style: solid;
	border-color: rgb(211, 96, 173);
	border-radius: 5px;
	width: 25%;
}

.searchBar>input[type=submit]{
	border-style: solid;
	border-color: rgb(211, 96, 173);
	border-radius: 10px;
	width: 10%;
}
.searchBar>input[type=submit]:hover{
	background-color: #CCC;

}
.pageTitle{
	text-shadow: 1px 1px 2px black;
}
.mainMenu{
	text-shadow: 1px 1px 2px black;
}

@keyframes rotate {
	0% {
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}
@keyframes fadeIn{
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes slide {
	from { transform: translateX(-300px); }
}
@keyframes slideUp{
	from { transform: translateY(20px); }
	to { transform: translateY(0); }
}
@keyframes slideBg {
	to { background-position: -200% center; }
}
@keyframes zoomOut{
	from { transform: scale(.7); }
	to { transform: scale(1); }
}
@keyframes burn {
	to { transform: translateX(3px) skew(-13deg); }
}