.seriesList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.seriesThumbnail {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.seriesThumbnail a {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: #121618;
	overflow: hidden;
}
.seriesThumbnail:nth-child(4n) a,
.seriesThumbnail:nth-child(4n-1) a {
	flex-direction: row-reverse;
}
.seriesThumbnail:nth-child(4n) a section:before,
.seriesThumbnail:nth-child(4n-1) a section:before {
	left: auto;
	right: -20px;
	transform: scaleX(-1) translateY(-50%);
}
.seriesThumbnail {
	background-color: #131618;
}
.seriesThumbnail a {
	/* background-color: #12161899; */
	background-image: linear-gradient(15deg, #121618ff 40%, #12161855 80%);
	/* background-image: linear-gradient(15deg, #4191b9ff 40%, #fff 80%); */
	background-size: contain;
	transition: all 1s ease;
}
.seriesThumbnail a:hover img {
	opacity: 1;
	/* mix-blend-mode: normal; */
}
.seriesThumbnail a img {
	min-height: 300px;
	object-fit: cover;
	mix-blend-mode: normal;
	opacity: .8;
	background-color: #ccc;
	filter: contrast(1.1);
}

.seriesThumbnail a img,
.seriesThumbnail a section {
	width: 50%;
	flex-grow: 1;
}
.seriesThumbnail a img,
.seriesThumbnail a section,
.seriesThumbnail a section:before {
	transition: all .7s cubic-bezier(.190, 1.000, .220, 1.000), width .2s cubic-bezier(.190, 1.000, .220, 1.000);
}


.seriesThumbnail a section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	font-size: 16px;
	background-color: #131618;
}
.seriesThumbnail a section:before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right:20px solid #131618;
}
.seriesThumbnail a section h4 {
	text-align: center;
	font-family: OpenSansCondensed;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	/* color: #e2952d; */
	margin: 0 0 15px;
	white-space: nowrap;
}
.seriesThumbnail a section h4:before,
.seriesThumbnail a section h4:after {
	content: '〜';
	color: #bbb;
	font-weight: lighter;
	display: inline-flex;
	font-size: 0.5em;
	vertical-align: middle;
	margin: 0 10px;
}
.seriesThumbnail a section h4:after {
	transform: scaleX(-1);
}
.seriesThumbnail a section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #bbb;
}
.seriesThumbnail a:hover img {
	/* filter: contrast(1) grayscale(0) brightness(1); */
	width: 48%;
}
.seriesThumbnail a:hover section {
	background-color: #0d0e10;
	/* width: 52%; */
}
.seriesThumbnail a:hover section:before {
	border-right-color: #0d0e10;
}
@media (max-width: 1200px) {
	.seriesThumbnail a img {
		min-height: calc(25vw - 20px);
	}
	.seriesThumbnail a section {
		font-size: 14px;
	}
	.seriesThumbnail a section h4 {
		font-size: 25px;
		letter-spacing: 0;
	}
}
@media (max-width: 900px) {
	.seriesThumbnail a section h4 {
		font-size: 20px;
		letter-spacing: 0;
	}
	.seriesThumbnail a section {
		font-size: 12px;
	}
}
@media (max-width: 780px) {
	.seriesThumbnail {
		width: 100%;
	}
	.seriesThumbnail a {
		height: 200px;
	}
	.seriesThumbnail:nth-child(4n) a,
	.seriesThumbnail:nth-child(4n-1) a {
		flex-direction: row;
	}
	.seriesThumbnail:nth-child(4n) a section:before,
	.seriesThumbnail:nth-child(4n-1) a section:before {
		left: -20px;
		right: auto;
		transform: translateY(-50%);
	}
	.seriesThumbnail:nth-child(2n) a {
		flex-direction: row-reverse;
	}
	.seriesThumbnail:nth-child(2n) a section:before {
		left: auto;
		right: -20px;
		transform: scaleX(-1) translateY(-50%);
	}
}
@media (max-width: 480px) {
	.seriesThumbnail a {
		height: auto;
		flex-direction: column;
	}
	.seriesThumbnail:nth-child(n) a {
		flex-direction: column;
	}
	.seriesThumbnail a img,
	.seriesThumbnail a section {
		height: 150px;
		width: 100%;
		font-size: 16px;
	}
	.seriesThumbnail a section {
		height: 150px;
	}
	.seriesThumbnail a section h4 {
		font-size: 25px;
		letter-spacing: 3px;
	}
	.seriesThumbnail a section:before {
		content: none;
	}
	.seriesThumbnail a:hover img,
	.seriesThumbnail a:hover section {
		width: 100%;
	}

}