
.serieThumbnail{
    border-style: solid;
    text-align: center;
    border-radius: 3em;
    border-width: 1em;
    border-color: white;
    background-color: rgba(182, 110, 149);
}

.serieThumbnail:hover{
    background-color: rgb(148, 77, 115);
}

.serieThumbnail img, .imageSerie {
	width: 100%;
}

.serieThumbnail h1{
    height: 50px;
}


.serieThumbnail :first-child {
    align-self: center;
}

.hide {
	display:none;
}


.seriesContainer {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.serieThumbnail {
	width: 25%;
	margin: 20px; 
	height: 100%;
	transition: background-color 0.5s;
}

.serieThumbnail:hover > .serieAll > .serieInformation {
	height: 300px;
	opacity: 100%;
}

.serieThumbnail:hover > .serieAll > .serieInformation > span.hide {
	display:block;
	opacity: 100%;
}

.serieInformation {
	height: 0px;
	opacity: 0%;
	transition: height, opacity;
		transition-duration: 1s, 0.5s;
		transition-delay: 0s, 0.5s;
}

 h1 {
	font-size: 25px;
	text-align: center;
}

.serieImage {
	margin: 20px;
	text-align : center;
}

.serieInformation {
	margin: 20px;
	text-align: justify;
	justify-content: center;
}
