.serieDetailThumbnail{
    border-style: solid;
    text-align: center;
    border-radius: 3em;
    border-width: 1em;
    border-color: white;
    background-color: rgba(182, 110, 149);
}


.serieDetailThumbnail h1 {
	font-size: 25px;
	text-align: center;
}


.detailSerieAll {
    display:flex;
    margin:20px;
}

.serieLeft {
    width: 35%;
    margin:25px;
    align-self: center;
    text-align: center;
}

.serieRight {
    margin:25px;
    width: 65%;
}

.listeEpisodes{
    display:flex;
    margin: 5px;
}

.Episode{
    width: 100%;
    border-style: solid;
    border-radius: 1.5em;
    border-width: 0.5em;
    border-color: white;
    background-color: rgb(148, 77, 115);
    
}

.serieDetailThumbnail, .Episode{
	margin: 5px;
}

.Episode h1{
    height: 36px;
    font-size: 18px;
    margin: 2px;
}

.Episode h2{
    height: 36px;
    font-size: 15px;
    margin: 2px;
}

.Episode p{
    font-size: 12px;
    text-align: justify;
    margin: 5px;
}

.Episode img {
    width: 90%;
    margin: 5%;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(148, 77, 115);
}

.imageSerie:hover{
    border-color: rgb(122, 32, 80);
}


.serieDetailThumbnail>div>img{
    width: 20em;
    height: 20em;

}



